__pycache__
dist/
*/__pycache__
blenderproc.egg-info/
build/
blender
.idea/
.vscode/
output/
debug/
resources/AMASS
resources/cctextures*
resources/scenenet/*zip
resources/scenenet/SceneNetData
resources/scenenet/texture*
resources/blenderkit
resources/decomposition_cache
resources/IKEA
resources/haven
resources/pix3d
resources/front_3D/3D_front_mapping_generated.csv
blenderproc/external/vhacd
*.blend1
.vscode
*.pyc
*.swp
docs/build/
!docs/source/index.rst
docs/source/*rst
docs/source/images/
docs/source/examples/
docs/source/*md
blenderproc_resources/
docs/source/docs/tutorials/writer.md
docs/source/docs/tutorials/renderer.md
docs/source/docs/tutorials/physics.md
docs/source/docs/tutorials/loader.md
docs/source/docs/tutorials/key_frames.md
docs/source/docs/tutorials/camera.md
Mambaforge-Linux-x86_64.sh
examples/automate_semantic_relations/valE_raw.h5
examples/automate_semantic_relations/val.json
.gitignore
examples/automate_semantic_relations/img100.xml
examples/automate_semantic_relations/val_old.json
examples/automate_semantic_relations/annotations/valE_seg.h5
examples/automate_semantic_relations/annotations/valE_raw.h5
examples/automate_semantic_relations/annotations/valC_raw.h5
examples/automate_semantic_relations/annotations/valB_raw.h5
examples/automate_semantic_relations/annotations/valA_raw.h5
examples/automate_semantic_relations/annotations/val.json
examples/automate_semantic_relations/annotations/val_sornet.h5
examples/automate_semantic_relations/annotations/val_old.json
examples/automate_semantic_relations/annotations/trainE_seg.h5
examples/automate_semantic_relations/annotations/trainE_raw.h5
examples/automate_semantic_relations/annotations/trainC_raw.h5
examples/automate_semantic_relations/annotations/trainB_raw.h5
examples/automate_semantic_relations/annotations/trainA_raw.h5
examples/automate_semantic_relations/annotations/train.json
examples/automate_semantic_relations/annotations/train_sornet.h5
examples/automate_semantic_relations/annotations/train_old.json
examples/automate_semantic_relations/val.h5
mygraph.png
examples/advanced/automate_semantic_relations/objects_tests/objects_tests.py
examples/advanced/automate_semantic_relations/objects_tests/microwave.obj
examples/advanced/automate_semantic_relations/objects_tests/microwave.mtl
examples/advanced/automate_semantic_relations/annotations/valE_seg.h5
examples/advanced/automate_semantic_relations/annotations/valE_raw.h5
examples/advanced/automate_semantic_relations/annotations/valC_raw.h5
examples/advanced/automate_semantic_relations/annotations/valB_raw.h5
examples/advanced/automate_semantic_relations/annotations/valA_raw.h5
examples/advanced/automate_semantic_relations/annotations/val.json
examples/advanced/automate_semantic_relations/annotations/val_sornet.h5
examples/advanced/automate_semantic_relations/annotations/val_old.json
examples/advanced/automate_semantic_relations/annotations/trainE_seg.h5
examples/advanced/automate_semantic_relations/annotations/trainE_raw.h5
examples/advanced/automate_semantic_relations/annotations/trainC_raw.h5
examples/advanced/automate_semantic_relations/annotations/trainB_raw.h5
examples/advanced/automate_semantic_relations/annotations/trainA_raw.h5
examples/advanced/automate_semantic_relations/annotations/train.json
examples/advanced/automate_semantic_relations/annotations/train_sornet.h5
examples/advanced/automate_semantic_relations/annotations/train_old.json
examples/advanced/automate_semantic_relations/second_placement.py
examples/advanced/automate_semantic_relations/read_hdf5_files.py
examples/advanced/automate_semantic_relations/heights.txt
examples/advanced/automate_semantic_relations/first_placement.py
